<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_music_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,27},{17,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,30}}</string>
                <key>sourceSize</key>
                <string>{17,30}</string>
            </dict>
            <key>ani_music_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>bg_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{640,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,104}}</string>
                <key>sourceSize</key>
                <string>{640,104}</string>
            </dict>
            <key>bg_tab_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,137}}</string>
                <key>sourceSize</key>
                <string>{640,137}</string>
            </dict>
            <key>hall_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,885},{156,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,118}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>hall_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,727},{156,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,118}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>hall_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,607},{156,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,118}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>hall_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,607},{156,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,118}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>hall_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,571},{156,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,118}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>hall_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,487},{156,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,118}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>hall_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{156,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,118}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>home_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{168,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,118}}</string>
                <key>sourceSize</key>
                <string>{168,118}</string>
            </dict>
            <key>home_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,242},{168,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,118}}</string>
                <key>sourceSize</key>
                <string>{168,118}</string>
            </dict>
            <key>home_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,242},{168,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,118}}</string>
                <key>sourceSize</key>
                <string>{168,118}</string>
            </dict>
            <key>home_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,122},{168,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,118}}</string>
                <key>sourceSize</key>
                <string>{168,118}</string>
            </dict>
            <key>home_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,122},{168,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,118}}</string>
                <key>sourceSize</key>
                <string>{168,118}</string>
            </dict>
            <key>home_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{168,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,118}}</string>
                <key>sourceSize</key>
                <string>{168,118}</string>
            </dict>
            <key>home_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{168,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,118}}</string>
                <key>sourceSize</key>
                <string>{168,118}</string>
            </dict>
            <key>icon_hall_iphonex.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,727},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_hall_iphonex_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,809},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_home_iphonex.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,810},{81,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,80}}</string>
                <key>sourceSize</key>
                <string>{81,80}</string>
            </dict>
            <key>icon_home_iphonex_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,727},{81,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,80}}</string>
                <key>sourceSize</key>
                <string>{81,80}</string>
            </dict>
            <key>icon_music_iphonex.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,564},{81,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,80}}</string>
                <key>sourceSize</key>
                <string>{81,80}</string>
            </dict>
            <key>icon_music_iphonex_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,482},{81,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,80}}</string>
                <key>sourceSize</key>
                <string>{81,80}</string>
            </dict>
            <key>icon_setting__iphonex.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,893},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_setting_iphonex_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,727},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>music_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,367},{162,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,118}}</string>
                <key>sourceSize</key>
                <string>{162,118}</string>
            </dict>
            <key>music_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{162,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,118}}</string>
                <key>sourceSize</key>
                <string>{162,118}</string>
            </dict>
            <key>music_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,362},{162,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,118}}</string>
                <key>sourceSize</key>
                <string>{162,118}</string>
            </dict>
            <key>music_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,362},{162,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,118}}</string>
                <key>sourceSize</key>
                <string>{162,118}</string>
            </dict>
            <key>music_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,247},{162,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,118}}</string>
                <key>sourceSize</key>
                <string>{162,118}</string>
            </dict>
            <key>music_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,247},{162,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,118}}</string>
                <key>sourceSize</key>
                <string>{162,118}</string>
            </dict>
            <key>music_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,247},{162,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,118}}</string>
                <key>sourceSize</key>
                <string>{162,118}</string>
            </dict>
            <key>setting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,487},{158,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,118}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
            <key>setting_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{158,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,118}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
            <key>setting_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{158,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,118}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
            <key>setting_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,482},{158,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,118}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
            <key>setting_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,482},{158,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,118}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
            <key>setting_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,411},{158,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,118}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
            <key>setting_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,367},{158,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,118}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plist_bottomtab.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f85a516e296f026c7b8e0ae6c2740741:1/1$</string>
            <key>textureFileName</key>
            <string>Plist_bottomtab.png</string>
        </dict>
    </dict>
</plist>
